section {
  width: 100%;
}
.container {
  max-width: 900px;
  display: flex;
  gap: 40px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  cursor: pointer;
}
.title-4 {
  color: #556c90;
}

@media (max-width: 640px) {
  .spinoff-img {
    width: 80%;
  }
}
